<html>
	<head>
		<title>Glit &mdash; <%=@title%></title>
	</head>
	
	<body>
		
		<h1><a href="/">Glit</a></h1>
		
		<ul id="navigation">
			<li><a href="/thoughts">thoughts</a></li>
			<li><a href="/stories">stories</a></li>
		</ul>
		
		<h2><%=@title%></h2>
		<%=yield%>
		
	</body>
	
</html>